<!DOCTYPE html>
<html>
  <head>
    <%- include ('partial/header') %>
  </head>
  <body>
    <%- include ('partial/navbar') %>
    <div class='container mt-4'>
      <div class="row">
        <div class='image-cropper'>
          <img src="/<%=info.profilepic%>" alt="user profile pic">
        </div>
        <h1>Your profile</h1>
      </div>
      <div class="row">
        <form action="/dogs/you/edit?_method=PUT" method="POST" enctype="multipart/form-data" class="mt-4">
          <div class="form-group">
            <label for="name" class=""><b>Name</b></label>
            <input type="text" class="form-control" id='name' name='name' value="<%= name %>">
          </div>
          <div class="form-group">
            <label for="dob" class=""><b>DOB</b></label>
            <input type="date" class="form-control" id='dob' name='dob' value="<%= date %>">
          </div>
          <div class="form-group">
            <label for="about" class=""><b>About</b></label> 
            <input type="text" class="form-control" id='about' name='about' value="<%= about %>">
          </div>
          <div class="form-group">
            <label for="status" class=""><b>Status</b></label>
            <input type="text" class="form-control" id='status' name='status' value="<%= status %>">
          </div>
          <div class="form-group">
            <label for="profilepic" class=""><b>Pofile Picture</b></label>
            <input type="photo" class="form-control" id='profilepic' name='profilepic'>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>

    <%- include ('partial/requiredjs') %>

  </body>
</html>