<!DOCTYPE html>
<html>
  <head>
    <%- include ('partial/header') %>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
  </head>
  <body class='main-background'>
    <%- include ('partial/navbar') %>
    <div class='container-fluid'>
      <!-- mobile: Users in top horizontal row -->
      <div class="row">
        <div class='col border-top border-bottom vw-100 overflow-auto mx-3 my-2 d-lg-none' data-simplebar>
          <ul class='list-group list-group-horizontal'>
            <% dogs.forEach(dog => { %>
              <li class='list-group-item text-center' style='min-width: 75px; border:none;'>
                <div style='background: url("/<%= dog.profilepic%>");
                  background-size: cover;
                  background-position: center;' 
                  class='small-image-cropper'>
                </div>
                <a href="/dogs/profile/<%= dog.id %>" class='lead mobile-name-link'><%= dog.name %></a>
              </li>  
            <% }); %>
          </ul>
        </div>
      </div>
      
      <div class='row justify-content-around'>
        <!-- quotes -->
        <div class='col-lg-6 row'>
          <!-- Header for new quote -->
          <div class="row">
            <div class="col">
              <!-- Chio -->
              <ul class="nav justify-content-start">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="bi bi-funnel"></i></a>
                  <div class="dropdown-menu">
                    <a class='dropdown-item' href="/feed/?filter=all">All</a>
                    <a class='dropdown-item' href="/feed/?filter=top">Top</a>
                    <a class='dropdown-item' href="/feed/?filter=following">Following</a>
                  </div>
                </li>
                <li class="nav-item">
                  <button type='button' class='nav-link btn btn-link' data-toggle="modal" data-target="#newQuoteModal"><i class="bi bi-pencil-square"></i></button>
                </li>
                <!-- Mobile: searchbar for -->
                
                <div id='dogSearchBar1' class='d-lg-none'>
                  <form id='filterDogsFeed' action="/feedsearch" method='POST'>
                    <div class='input-group form-control d-flex autocomplete' style='border:none'>
                      <input class='form-control' id='myInput' list='dogs' name='name' placeholder='Search doggo'>
                      <datalist id='dogs'>
                        <% dogs.forEach(dog => { %>
                          <option value="<%= dog.name %>"><a href="/dogs/profile/<%= dog.id %>"></a></option>
                        <% }) %>
                      </datalist>
                      <button class='btn btn-outline-secondary' type='submit'>Search</button>
                    </div>
                  </form>
                </div>
              </ul>
            </div>
            <!-- Modal for new quote form  -->
            <div class='modal fade' id='newQuoteModal' tab-index='-1' role='dialog' aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role='document'>
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class='modal-title'>New Quote</h5>
                    <button type="btn" class="btn-close" data-dismiss="modal"></button>
                  </div>
                  <div class='modal-body'>
                    <form action="/quote/new" id='quoteForm' method='POST'>
                      <textarea name="quote" id="quote" class="form-control" rows="5" placeholder='Why waste time say lot word when few word do trick'></textarea>
                    </form>
                  </div>
                  <div class='modal-footer'>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" form='quoteForm' class="btn btn-primary">Post</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- quotes list -->
          <div id="quoteFeedList" class='overflow-auto feed-fix-height' data-simplebar>
            <ul style='padding-left:10px'>
              <% quotes.forEach(quote => { %>
              <a href="/quote/<%= quote.id %>/tip" style="text-decoration: none; color:#212529">
                <li style="list-style-type: none;">
                  <div class='card my-2 zoom py-0' style='margin-right: 10px'>
                    <div class='card-body'>
                      <p class='lead'><%= quote.quote %></p>
                      <div class='row'>
                        <div class='col-6'>
                          <b>by <a style='text-decoration: none' href="/dogs/profile/<%= quote.quoter_id %>"><%= quote.name %></a></b>
                        </div>
                        <div class='col-6 text-center'>
                          <p><i class="bi bi-hand-thumbs-up-fill"></i> <%= quote.count %> tips | <i class="bi bi-cash"></i> $<%= quote.amount %></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </a>
              <% }); %>
            </ul>
          </div>
          
        </div>
        <!-- users -->
        <div class='col-lg-5 d-none d-lg-block'>
          <!-- Search bar -->
          <div id='dogSearchBar2' class=''>
            <form id='filterDogsFeed' action="/feedsearch" method='POST'>
              <div class='input-group form-control d-flex autocomplete' style='border:none'>
                <input class='form-control' id='myInput' list='dogs' name='name' placeholder='Search doggo'>
                <datalist id='dogs'>
                  <% dogs.forEach(dog => { %>
                    <option value="<%= dog.name %>"><a href="/dogs/profile/<%= dog.id %>"></a></option>
                  <% }) %>
                </datalist>
                <button class='btn btn-outline-secondary' type='submit'>Search</button>
              </div>
            </form>
          </div>
          <!-- List of users -->
          <div id='dogFeedList' class='overflow-auto feed-fix-height' data-simplebar>
            <% dogs.forEach(dog => { %>
              <div class='row py-3'>
                <div class="col-3 justify-content-center">
                  <div style='background: url("/<%= dog.profilepic%>");
                  background-size: cover;
                  background-position: center;' 
                  class='image-cropper zoom'></div>
                </div>
                <div class='col-8'>
                  <b class='mb-1'><a style='text-decoration: none' href="/dogs/profile/<%= dog.id %>"><%= dog.name %></a></b>
                  <p class='mb-1'><%= dog.about %></p>
                  <p class='mb-1'><%= dog.followers %> followers | <%= dog.quotes %> quotes</p>
                </div>
              </div>
              
            <% }); %>
          </div>
          
        
        </div>
      </div>
    </div>
    <%- include ('partial/requiredjs') %>
    <!-- <script src="ejs.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
    <script>

    </script>
  </body>
</html>