<!DOCTYPE html>
<html>
  <head>
    <%- include ('partial/header') %>
  </head>
  <body class='login-background'>
    <%- include ('partial/navbar-login') %>
    <div class='container mt-4'>
      <div class='row justify-content-center'>
        <div class='col-md-6'>
          <ul class='signup-progress-bar'>
            <li class='active'>username</li>
            <li class='active'>Info</li>
            <li class='active'>Profile Picture</li>
          </ul>
        </div>
      </div>
      <div class='row justify-content-center'>
        <div class='col-md-6'>
          <form action="/signup/3" method='POST' enctype="multipart/form-data">
            <div class='form-group my-4'>
              <label for="profilepic">Profile Picture</label>
              <input type="file" class='form-control mt-2' name='profilepic' id='profilepic'>
            </div>
            <input type="hidden" name='name' value='<%= name %>'>
            <input type="hidden" name='password' value='<%= password %>'>
            <input type="hidden" name='about' value='<%= about %>'>
            <input type="hidden" name='dob' value='<%= dob %>'>
            <button type='submit' class='btn btn-primary'>Create Account</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>