<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partial/header') %>
  </head>

  <body class="vh-100 payment-dog-img ">
    <%- include ('../partial/navbar') %>
      <div class="container" style='margin-top:100px'>
      <div class='row justify-content-center'>
        <form id='stripe-form'  action="/charge" method="POST" class="col-md-6">
          <input
            class="form-control my-2"
            type="text"
            name="name"
            placeholder="Name"
            value="<%= info.name %>"
          />
          <input
            type="email"
            class="form-control my-2"
            name="email"
            placeholder="Email"
          />
          <input
            class="form-control my-2"
            type="text"
            name="amount"
            placeholder="Amount"
          />
          <input type="hidden" name='bank' value= <%= info.bank %>>
          <input type="hidden" name='id' value= <%= info.id %>>
          <div
            id="card-element"
            class="form-control my-2 "
          ></div>
          <div id="card-errors" role="alert" class='alert'></div>
          <button class="btn btn-primary w-100">Submit Payment</button>
        </form>
      </div>
    </div>
  </body>

  <!-- Javascript -->
  <%- include ('../partial/requiredjs') %>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="card.js"></script>
</html>
